/*Глобальне скидання стилів*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Загальні правила*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Для заголовків h2*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/*Для заголовків h3*/
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

/* Для абзаців p*/
.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------------------------ HEADER -------------------------------*/

.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.nav-header {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-items {
  display: flex;
  gap: 40px;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.logo-span-header {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link-current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}
.nav-link-current::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
}
.mail-tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-link:hover,
.mail-tel-link:focus {
  color: #404bbf;
}

/* --------------------------  HERO ----------------------------*/

.hero {
  height: 600px;
  padding: 188px 0;
  max-width: 1440px;
  background: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------ FEATURES --------------------------------------------*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.svg-container {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}
.section-subtitle-features {
  margin-bottom: 8px;
}
.features-item .section-paragraph {
  text-align: left;
}
/*---------------------------- TEAM -------------------------------------------*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.container-team {
  display: block;
}
.section-title-team {
  margin-bottom: 72px;
}
.section-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-members {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.name-position {
  padding: 32px 0;
}

.name-position > .section-paragraph {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/*------------------------ PORTFOLIO------------------------------*/
.portfolio {
  padding: 120px 0 120px 0;
}

.title-portfolio {
  margin-bottom: 72px;
}
.name-category-app > .section-subtitle {
  margin-bottom: 8px;
  text-align: left;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  position: relative;
}
.portfolio-list-items {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-items:hover .overlay-text {
  transform: translate(0%);
}
.name-category-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.img-wrapper {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------------------FOOTER----------------------------------------*/
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}
.footer-column {
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 120px;
}
.footer-column a:hover,
.footer-column a:focus {
  background-color: #31d0aa;
}

.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  color: #f4f4fd;
  width: 264px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-paragraph-social-links {
  display: flex;
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--color-white);
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
